* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.log_center_block {
  background-color: #fff;
  box-shadow: 0 0 10px black;
  width: 25%;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 140px;
  border-radius: 4px;
}

.log_input {
  padding: 5px;
  margin: 5px 5px 10px 7px;
}

.log_input input[type="text"],
[type="password"] {
  padding: 5px;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid gray;
  outline: none;
  margin: 5px;
  width: 250px;
  padding: 12px;
}

.log_input input:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom-color: green;
  color: forestgreen;
  width: 250px;
}

.log_input input[type="submit"] {
  border: none;
  background: #fff;
  padding: 5px 10px;
  width: 100px;
  margin-left: 155px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.log_input input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(17, 0, 255);
  color: #fff;
}

.log_all {
  display: flex;
  background: #755;
  border-bottom: 1px inset seagreen;
  color: #04ff1f;
  justify-content: start;
  padding: 5px;
}

.log_block img {
  width: 30px;
  display: block;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

.log_title h4 {
  font-size: 20px;
  padding: 5px;
}

.log_bottom {
  padding: 10px;
  background-image: linear-gradient(to left, #3670ae, #755);
  color: #fff;
  font-size: 12px;
  text-align: center;
}
